<template>
  <authenticated title="Ceklis">
    <template>
      <p>Home page</p>
    </template>
  </authenticated>
</template>

<script>
import Authenticated from './Layouts/Authenticated.vue'

export default {
  name: 'Home',
  components: {
    Authenticated,
  },
}
</script>
