<template>
    <div id="login">
        <div class="text-center">
            <h2 class="mb-4">Welcome!</h2>
        </div>
        <form @submit.prevent="login">
            <input-ceklis type='email' id="email" placeholder="Email Address" v-model="form.email"></input-ceklis>
            <input-ceklis type='Password' id="password" placeholder="Password" v-model="form.password"></input-ceklis>
            <button-ceklis type="submit">Login</button-ceklis>
        </form>

        <hr>

        <div class="text-center mb-2"><router-link to="/register">Create an account!</router-link></div>
    </div>
</template>

<style scoped>
a{
    text-decoration: none;
    background-color: transparent;
    font-size: .8rem;
}
</style>

<script>
import ButtonCeklis from '@/components/Button';
import InputCeklis from '@/components/Input';

import user from '../apis/User';
export default {
    name: 'Login',

    components: {
        ButtonCeklis,
        InputCeklis,
    },
    
    data () {
        return {
            form: {
                email: '',
                password: '',
            },
            errors: [],
        }
    },

    methods: {
        login () {
            user.login(this.form)
                .then((response) => {
                    this.$root.$emit("login", true);
                    localStorage.setItem("auth", "true");
                    localStorage.setItem("accessToken", response.data.accessToken);
                    localStorage.setItem("id", response.data.user.id);
                    this.$router.push({ name: "Home" });
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                })
        }
    }
}
</script>