<template>
    <div id="register">
        <div class="text-center">
            <h2 class="mb-4">Create an account!</h2>
        </div>
        <form @submit.prevent="register">
            <input-ceklis type='text' id="firstname" placeholder="Your Name" v-model="form.name"></input-ceklis>
            <input-ceklis type='email' id="email" placeholder="Email Address" v-model="form.email"></input-ceklis>
            <input-ceklis type='password' id="password" placeholder="Password" v-model="form.password"></input-ceklis>
            <input-ceklis type='password' id="password-confirmation" placeholder="Confirm Password" v-model="form.password_confirmation"></input-ceklis>
            <button-ceklis type="submit">Register Account</button-ceklis>
        </form>

        <hr>

        <div class="text-center mb-2"><router-link to="/login">Already have an account? Login!</router-link></div>
    </div>
</template>

<style scoped>
a{
    text-decoration: none;
    background-color: transparent;
    font-size: .8rem;
}
</style>

<script>
import ButtonCeklis from '@/components/Button';
import InputCeklis from '@/components/Input';

import user from '../apis/User';

export default {
    name: 'Register',
    components: {
        ButtonCeklis,
        InputCeklis,
    },

    data () {
        return {
            form: {
                email: '',
                name: '',
                password: '',
                password_confirmation: '',
            },
            errors: []
        }
    },

    methods: {
        register () {
            user.register(this.form)
                .then((response) => {
                    localStorage.setItem("auth", "true");
                    localStorage.setItem("accessToken", response.data.accessToken);
                    localStorage.setItem("id", response.data.user.id);
                    this.$router.push({ name: "Home" });
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                })
        }
    }
}
</script>