<template>
    <button :type="type" class="btn btn-primary btn-user btn-block">
        <slot></slot>
    </button>
</template>

<style scoped>
.btn-block{
    display: block;
    width: 100%;
}

.btn-user{
    font-size: .8rem !important;
    border-radius: 10rem !important;
    padding: .8rem 1.5rem !important;
}
</style>

<script>
export default {
    props: [
        'type',
    ],
    data() {
        return{
            classObject: {
                
            }
        }
    }
}
</script>