<template>
    <div class="form-group mb-3">
        <input :type="type" :name="name" :id="id" :placeholder="placeholder" class="form-control form-control-user" required @input="updateValue($event.target.value)" :value="value">
    </div>
</template>

<style scoped>
.form-control-user {
    font-size: .8rem !important;
    border-radius: 10rem !important;
    padding: .8rem 1.5rem !important;
}
</style>

<script>
export default {
    props: [
        'id',
        'name',
        'placeholder',
        'type',
        'value'
    ],
    methods: {
      updateValue: function (value) {
        this.$emit('input', value)
      }
    }
}
</script>