<template>
    <div class="user-edit">
         <authenticated title="Ceklis">
            <template>
                <spinner v-if="loading"></spinner>
                <form @submit.prevent="editUser" class="mb-2" v-else>
                    <input-ceklis type='text' id="firstname" placeholder="Your Name" v-model="form.name" name="name"></input-ceklis>
                    <input-ceklis type='email' id="email" placeholder="Email Address" v-model="form.email" name="email"></input-ceklis>
                    <button-ceklis type="submit">Submit</button-ceklis>
                    <button @click="this.logout" class="btn btn-outline-secondary btn-user btn-block mt-2">Logout</button>
                </form>
            </template>
        </authenticated>
    </div>
</template>

<style scoped>
.btn-block{
    display: block;
    width: 100%;
}

.btn-user{
    font-size: .8rem !important;
    border-radius: 10rem !important;
    padding: .8rem 1.5rem !important;
}
</style>

<script>
import Authenticated from '../Layouts/Authenticated.vue'

import ButtonCeklis from '@/components/Button';
import InputCeklis from '@/components/Input';
import Spinner from '../../components/Spinner'

import UserAPI from '../../apis/User'
export default {
    name: 'Edit',
    components: {
        Authenticated,
        ButtonCeklis,
        InputCeklis,
        Spinner,
    },
    mounted() {
        this.loading = true;
        UserAPI.auth(localStorage.getItem("id")).then(response => {
            this.form.name = response.data.name
            this.form.email = response.data.email
        }).finally(() => {
            this.loading = false;
        })
    },
    data(){
        return {
            loading: false,
            user: null,
            form: {
                name: '',
                email: '',
                password: '',
            }
        }
    },
    methods: {
        editUser () {
            UserAPI.edit(localStorage.getItem("id"), this.form)
        },
        
        async logout () {
            this.loading = true
            await UserAPI.logout(localStorage.getItem("id"))
                .then(() => {
                localStorage.clear();
                this.$router.push({ name: "Login" });
                })
                .catch(error => {
                console.log(error)
                })
                .finally(() => {
                    this.loading = false
                })
        }
    }
}
</script>