<template>
  <div id="app">
    <div class="container rounded">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-12">
                  <div class="p-5">
                        <router-view/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">

</style>