<template>
    <div class="auth">
        <div class="title text-center mb-4"><h3>{{ title }}</h3></div>
        <ul class="nav nav-pills nav-justified mb-4">
            <li class="nav-item">
                <router-link class="nav-link" aria-current="page" to="/">Home</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/edit">Profile</router-link>
            </li>
        </ul>
        <slot></slot>
    </div>
</template>

<style scoped>
.router-link-exact-active {
   background-color: #0d6efd!important;
   cursor: pointer;
   color: white;
 }
</style>

<script>
import user from '../../apis/User'

export default {
    name: 'Authenticated',

    components: {
        //
    },

    props: [
        'title',
    ],

    data(){
        return {
            user: null,
        }
    },

    mounted() {
        user.auth(localStorage.getItem("id")).then(response => {
        this.user = response.data;
    })
  },
}
</script>